@{
  Layout = "_Layout";
}

<h1>Add a course</h1>
<p>Add a course here:</p>

<form action="/courses" method="post">
  <label for="name">Course name</label>
  <input id="name" name="name" type="text">
  <label for="number">Course number</label>
  <input id="number" name="number" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/courses">Back to courses</a></p>
