@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">University Registrar</h1>
    <p>Add a student <a href=""></a></p>
    <p>Add a course <a href=""></a></p>
    <p>Assign a student to a course <a href=""></a></p>
</div>
