@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">University Registrar</h1>
    <a href="/students">Add a student</a>
    <a href="/courses">Add a course</a>
</div>
